// colors
$BackgroundHtml: #CDCDC9;
$ErrorColor: #FF3333;
$BackgroundHeader: #022576;
$TextHeader: #cad6c4;
$NotConnect: #AF4963;
$IsConnect: #42b983;
$TextConnect: #30434B;
$ButtonBoxHeader: rgba(155, 155, 155, 0.3);
$ButtonLogin: rgb(243, 132, 195);
$ToilettePaper: rgb(237, 193, 218);
$ToilettePaperBis: #F678D8;
$BackgroundArticle: #4e5d7b;
$BackgroundProfil: #90dcd9;
$CouleurCacaEmoji: #863F13;

// breakpoints
$breakpoint-medium: 500px;
